/*Estilo css global*/

*{
  padding: 0;
  margin: 0;
  /*Border-box serve para os inputs não ultrapassarem a area maxima da div que eles estão*/
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  background-color: #efefef;
  height: 100%;
}
